{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">

  </div>

<p>fgfhdgfvh</p>


</div>
{% if neighborhoods %}
  {% for neighborhood in neighborhoods %}

<div class="col-sm-4">

  {% if neighborhoods%}
    <h2>Found {{ neighborhoods|length }}  {{message}}</h2>
  {% else %}
     <h2> Found 0 neighborhoods t {{message}}</h2> -->
  {% endif %}


                <!-- <div class="card">
                    <div class="card-body">

                        <p class="card-text">   <h1>Driver:{{destination.driver_name}}</h1></p>
                        <p class="card-text">   <h1>Number:{{destination.driver_phone}}</h1></p>

                    </div> -->
                    {% endfor %}
                  {% endif %}
{% endblock %}
