{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if neighborhoods%}
      <!-- <h2>Found {{ neighborhoods|length }}  {{message}}</h2> -->
    {% else %}
       <h2> Found 0 neighborhoods t {{message}}</h2> -->
    {% endif %}
    </div>

  </div>


{% if neighborhoods %}
  {% for neighborhood in neighborhoods %}
  <div class="container mt-2">
    <div class="row">
      <div class="col- mx-auto p-5" style="background-color:#ffffff; border: 1px solid #e6e6e6;">
        <div class="profile p-4" style="white-space:nowrap">
              <h1> Hood:{{message}}</h1>
              <h2>Event:{{neighborhood.event_details}}</h2>
              <p><a href="{%url 'viewpost' neighborhood.id %}">more details</a></p>
              
        </div>
      </div>
    </div>
{% endfor %}
{% endif %}


{%for post in posts%}

{%endfor%}
{% endblock %}
