{%extends 'base.html'%}
{% load static%}
{% block content %}
{% for pic in pics %}

      <div class="container mt-2">
        <div class="row">
          <div class="col- mx-auto p-5" style="background-color:#ffffff; border: 1px solid #e6e6e6;">
            <div class="profile p-4" style="white-space:nowrap">
            <img src="{{pic.profile_photo.url}}" alt="" style="height:70px;width:70px; border-radius:50%; display:inline;">
            <h2>{{pic.name}}</h2>
            <h2>{{pic.neighborhood}}</h2>
            <h2>{{pic.email}}</h2>


          </div>
        </div>
      </div>

{%endfor%}

{% endblock %}
