{%extends 'base.html'%}
{% load static%}
{% block content %}
{% for pic in pics %}

      

      <div class="col-xs-6 col-sm-6 col-md-6">



    <div class="card m-2">
      <div class="card-header">
        <img src="{{pic.profile_photo.url}}" alt="" style="height:90px;width:90px; border-radius:50%; display:inline;">
      </div>
      <div class="card-body">
        <h2 class="card-title"> Name:{{pic.name}}</h2>
        <h2 class="card-text"> Neighborhood: {{pic.neighborhood}} </h2>
        <h2 class="card-text">Email:{{pic.email}} </h2>

      </div>
    </div>
  </div>


{%endfor%}

{% endblock %}
