{%extends 'base.html'%}
{% load static%}
{% block content %}


    <div class="container-fluid mt-4">
      <div class="jumbotron mt-4">
        <p class="ml-2" style="display:inline; white-space:nowrap; font-size:25px;"> {{neighborhood.name}} </p>
        <br>
        <br>
        <p class="ml-2" style="display:inline; white-space:nowrap; font-size:25px;">{{neighborhood.location}}</p>
        <br>
        <br>
        <p class="ml-2" style="display:inline; white-space:nowrap; font-size:25px;">{{neighborhood.event_details}}</p>
</div>
</div>



{% endblock %}
